.contact-page-landing{
    height:70dvh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0, 0.4)), url("../assets/contactBg2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.contact-hero-content{
     height: calc(70dvh - 120px);
     display: flex;
     align-items: center;
     justify-content: center;
}
.contact-hero-content h1{
      font-size: 70px;
      font-family: "Satoshi-Medium";
      color: whitesmoke;
}

.contact-body{
       padding: 100px 0;
}
.contact-body-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.contact-body-texts h2{
      font-size: 60px;
      font-family: "Satoshi-Medium";
      margin-bottom: 20px;
}

.contact-body-texts p{
      font-size: 18px;
      color: rgb(80, 80, 80);
      line-height: 1.6;
      margin-bottom: 10px;
}

.contact-body-texts .contact-box{
        width: 70%;
        margin-bottom: 20px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        padding: 20px;
        border: 1px solid rgba(203, 241, 217, 0.304);
}
.contact-body h3{
      font-size: 18px;
      font-family: "Satoshi-Regular";
      margin-bottom: 10px;
}
.contact-box p{
    font-size: 16px;
    margin-bottom: 0;
}

.contact-form{
     background: #cbf1c331;
     padding: 50px;
     border-radius: 16px;
     -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
     -ms-border-radius: 16px;
     -o-border-radius: 16px;
}
.contact-form h2{
      font-size: 40px;
      margin-bottom: 10px;
}
.contact-form p{
    font-size: 16px;
    color: rgb(80, 80, 80);
    line-height: 1.6;
}

.contact-form form{
     margin-top: 30px;
}
.form-row{
    margin-bottom: 20px;
}
.form-row.split{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
}
.form-row label{
      font-size: 14px;
      color: rgb(90, 90,90);
      margin-bottom: 5px;
      display: block;
}
.form-row .form-control{
     width: 100%;
     height: 55px;
     padding-left: 10px;
     border: 1px solid rgba(202, 224, 211, 0.304);
     background: rgba(255, 255, 255, 0.63);
     border-radius: 7px;
     -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
     -ms-border-radius: 7px;
     -o-border-radius: 7px;
}
.form-row textarea{
    width: 100%;
    height: 155px;
    padding: 10px;
    border: 1px solid rgba(202, 224, 211, 0.304);
    background: rgba(255, 255, 255, 0.63);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.form-btn button{
     width: 200px;
     height: 55px;
     background: var(--main-color);
     color: whitesmoke;
     border-radius: 55px;
     -webkit-border-radius: 55px;
     -moz-border-radius: 55px;
     -ms-border-radius: 55px;
     -o-border-radius: 55px;
     cursor: pointer;
}

@media(max-width: 1090px){
      .contact-body-content{
           grid-template-columns: 1fr;
           gap: 30px
      }
}

@media(max-width: 768px){
       .contact-body-texts h2,
       .contact-hero-content h1{
           font-size: 45px;
       }
       .contact-body-texts .contact-box{
             width: 100%;
       } 
       .form-row.split{
            grid-template-columns: 1fr;
       }
}

@media(max-width: 530px){
      .contact-body-texts h2{
            font-size: 36px;
      }
}