.resources-page-landing{
    height:70dvh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0, 0.4)), url("../assets/contactBg2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.resources-hero-content{
     height: calc(70dvh - 120px);
     display: flex;
     align-items: center;
     justify-content: center;
}
.resources-hero-content h1{
      font-size: 70px;
      font-family: "Satoshi-Medium";
      color: whitesmoke;
}

.resources-body{
      padding: 100px 0;
}

.resources-body-content h3.intro{
      font-size: 30px;
      width: 900px;
      margin: 0 auto 30px auto;
      text-align: center;
      font-family: "Satoshi-Regular";
      color: var(--main-color);
      line-height: 1.5;
}

.single-article-wrapper{
       padding: 30px 0px 100px 0px;
}

.single-article-content{
       width: 1000px;
       margin: auto;
}
.single-article-image{
    height: 600px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;
    margin: auto;
}

.article-intro-group{
      display: flex;
      gap: 10px;
      align-items: center;
      margin: 10px 0px 20px 0px;
}

.article-intro-group h4{
       font-family: var(--font-regular);
       font-weight: 300;
       font-size: 15px;
}
.article-intro-group h4 span{
       font-weight: 400;
}
.article-intro-group span.line{
      width: 1px;
      height: 15px;
      background: gainsboro;
}
.article-intro-group p{
        font-size: 15px;
}


.single-article-body{
       width: 90%;
       margin: 30px auto;
}

.single-article-body p{
      font-size: 18px;
      line-height: 1.6;
      color: rgb(54, 54, 54);
      font-weight: 300;
      margin-bottom: 10px;
}
.single-article-body p strong{
      font-size: 25px;
      font-weight: 600;
      color: black;
}
.single-article-body h3{
      font-family: var(--font-bold);
}

.single-article-body ul{
       width: 95%;
       margin: auto;
       list-style-type: disc;
}

.single-article-body ol{
        width: 95%;
        margin: auto;
}
.single-article-body ul li,
.single-article-body ol li{
     font-size: 17px;
     margin-bottom: 10px;
     color: rgb(54, 54, 54);
}

















































@media(max-width: 1090px){
      .resources-body-content h3.intro{
             width: 90%;
      }
}

@media(max-width: 768px){
      .resources-hero-content h1{
             font-size: 55px;
      }
}
@media(max-width: 530px){
       .resources-hero-content h1{
              font-size: 40px;
       }
       .resources-body-content h3.intro{
              font-size: 25px;
       }
}